@model TCYDMWebApp.DTO.WhoWeAreDTO

@{
    ViewData["Title"] = "Create";
}

<div class="right_col" role="main" style="min-height: 1661px;">
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Language</label>
                    <select asp-items="ViewBag.Lang" asp-for="LanguageId" class="form-control"> </select>
                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                    <a class="btn btn-outline-secondary" asp-action="homeview">Back</a>
                    <input type="submit" value="Create" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section javascript{

    <script>
        CKEDITOR.replace("Content")
    </script>
}

