
@{
}
@model List<TCYDMWebApp.DTO.OurServicesDTO>
@if (Model.Count == 0)
{
    return;
}
else
{
    <div class="col-lg-4 col-md-12 services-center">
        @{var count = Model.Count / 3; }
        <ul class="info-ul">
            @for (int i = 0; i < count + 1; i++)
            {
                <li><a style="color:white;" href="/home/services/@Model?[i].ServiceId">* @Model?[i].Name</a></li>
            }

        </ul>
    </div>
    <div class="col-lg-4 col-md-12 services-center ">
        <ul class="info-ul">
            @for (int i = count + 1; i < (count + 1) * 2; i++)
            {
                @if (Model.Count > i)
                {
                    <li><a style="color:white" href="/home/services/@Model?[i].ServiceId">* @Model?[i].Name</a></li>
                }

            }
        </ul>
    </div>
    <div class="col-lg-4 col-md-12 services-center">
        <ul class="info-ul">
            @for (int i = (count + 1) * 2; i <= count * 3; i++)
            {
                <li><a style="color:white;" href="/home/services/@Model?[i].ServiceId">* @Model?[i].Name</a></li>
            }
        </ul>
    </div>
}
