@model List<OurTeam>
@using Microsoft.AspNetCore.Mvc.Localization
@using TCYDMWebApp.Repositories.Lang


@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<div class="container our-team mt-3 mb-3">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mb-2">@SharedLocalizer["Our Team"]</h1>
            <p class="mb-4"></p>
        </div>
        <div class="col-lg-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-6 col-12 mt-3 mb-3 p-1" style="text-align: -webkit-center;">
                        <div class="team-member" style="background-image:url(@Url.Content("~/uploads/"+item.ImagePath))"></div>
                        <div class="text-center mt-2">
                            <h5 class="member-name">@item.FullName</h5>
                            <span class="member-position">@item.Job</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
