@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (TempData["ServerResponseError"] != null)
{
    <div class="p-red-box servererror" style="position:absolute;left:5%;top:40%;z-index:2;display:none;">
        <p style="color:white">@TempData["ServerResponseError"]</p>

    </div>
}
@await Component.InvokeAsync("UserEdit")
@section Scripts
{
    @if (TempData["ServerResponseError"] != null)
    {
        <script>
            $(".servererror").fadeIn(function () {
                setTimeout(function () {
                    $(".servererror").fadeOut();
                }, 2000);
            })
        </script>
    }
    <script>
        $(document).ready(function () {
            const togglePassword = document.querySelector('.toggle-password');
            const password = document.querySelector('#password-field');
            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
            });
                /*Taking an array of all options-2 and kind of embedding it on the select1*/
            $("#selectcountry").data('options', $('#selectregion option').clone());
            var id = $("#selectcountry").val();
            var options = $("#selectcountry").data('options').filter('[value=' + id + ']');
            $('#selectregion').html(options);

        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

