@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "null";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h3>
        An occured while processing your request. The support
        team is notified and we are working on the fix
    </h3>
    <h5>Please contact us on hasanzadeelnur@gmail.com</h5>
    <hr />
    <div class="alert alert-danger">
        <h5>Exception Message</h5>
        <hr />
        <p>@ViewBag.Message</p>
    </div>
</body>
</html>
