@model TCYDMWebApp.DTO.HomePage

@{
    ViewData["Title"] = "Edit";
}

<div class="right_col" role="main" style="min-height: 1661px;">

    <h4>HomePage</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit"  enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="PhotoUpload" class="form-control" />
                    <span asp-validation-for="PhotoUpload" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-outline-secondary" asp-action="homeview">Back</a>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>